body{
    align-items: center;
    background-image: url(/back.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
}
h1 {
    text-align: center;
    align-self: center;

}
p{
    text-align: right;
    display: block;
    padding: 20px;
    font-size: 30px;
    background-color: white;
    border-radius: 15px;
    margin-left: 800px;
    margin-right: 77px;
}
img{
    width: 55%;
    margin-top: 10px;
    border: 10px;
    border-color: white;
    border-radius: 15px;
    margin-left: 40%;
}
