*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Montserrat', sans-serif;
}

html{scroll-behavior: smooth; overflow-x: hidden; box-sizing: border-box;}

body{
  overflow-x: hidden;
  max-width: 100%;
  box-sizing: border-box;
}

input,button,textarea{font-family:inherit;}

header{
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 150px;
  padding: 25px;
}
#ico{
  height: 100px;
}

label .menu {
  position: absolute;
  top: -150px;
  right: -150px;
  z-index: 100;
  width: 300px;
  height: 300px;
  background: #1e1e1e;
  border-radius: 50%;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  box-shadow: 0 0 0 0 #1e1e1e;
  cursor: pointer;
}

label .hamburger{
  position: absolute;
  top: 200px;
  left: 80px;
  width: 40px;
  height: 3px;
  background: #fff;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .2s ease-in-out;
  transition:ease-in-out;
  transform: rotate(135deg);
}

.hamburger::after, .hamburger::before{
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  content: '';
  position: absolute;
  display: block;
  width: 50%;
  height: 100%;
  background: #F9D31B;
}

.hamburger::after{top: -13px; right: 32%;}
.hamburger::before{bottom: -13px; left: 28%;}
label input{display: none;}

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #1e1e1e, 0 0 0 100vh #1e1e1e;
  border-radius: 0;
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 20px;
  top: -11px;
  right: 25%;
  background: #fff;
  transition: .25s ease-in-out;
}

label input:checked + .menu .hamburger::before{
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 20px;
  bottom: -11px;
  left: 25%;
  background: #fff;
  transition: .25s ease-in-out;
}
label input:checked + .menu + ul { opacity: 1;}

label ul {
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
  list-style: none;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

label a {
  display: block;
  margin: 25px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  padding: 10px 25px;
}

label a:hover {
  color: #F9D31B;
}

main{
  margin-top: 80px;
}
main h1{
  font-weight: 700;
  font-size: 130px;
  display: inline-block;
  margin-left: 20vw;
}

main #line{
  border: 3px solid #1E1E1E;
  height: 2px;
  width: 52vw;
  display: block;
  margin: 0 auto 0 27vw;
  border-radius: 100px;
}

main h2{
  font-weight: 700;
  font-size: 50px;
  color: #1E1E1E;
  margin: 1vh auto 0 42vw;
}

main img{
  height: 500px;
}

.btn{
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  padding: 21px 27px;
}





