body, html {
  height: 100%;
  margin: 0;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-size: 1.25vw;
}
h2{

}
h3{

}
h4{
  font-size: 1.19vw;
}

/* Style tab links */
.tablink {
  background-color: transparent;
  color: gray;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.83vw;
  font-size: 1vw;
  width: 50%;
}

.tablink:hover {
  color: #dc143c;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding-top:1.19vw;
}

.header{
    margin-top: 1.19vw;
    padding: 0.595vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    width: 14.88vw;
}

.content{
    width: 90%;
    margin: auto;
}


#logo {
    width: 5.95vw;
}


#about {
  margin: 2.38vw auto;
  align-items: center;
  display: flex;
  height: 100vh;
}

.about_title{
  text-align: center;
  width: 70%;
  margin: 5.35vw auto;
  font-size: 1.4vw;
}

#menu_title {
  text-align: center;
  font-size: 1.9vw;
  font-weight: normal;
}

.menu_grid{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}
.menu_grid_main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.grid_item {
  width: 30%;
}

.grid_item img{
  width: calc(100% - 15px);
  height: 70%;
}

.menu_grid_napitki {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.menu_grid_napitki > .grid_item{
  width: 20%;
}

.menu_grid_napitki > .grid_item > img{
  height: 20.83vw;
  width: 17.27vw;
}

.line {
  margin:  10px auto;
  width: 98%;
  height: 2px;
  color: black;
  background-color: black;
}

h4{
  margin: 10px;
}

.name {
  font-weight: 600;
  font-size: 0.95vw;
}

.price {
  font-weight: 300;
  font-size: 0.79vw;
}

.addition {
  color: gray ;
}

#footer {
  padding: 1.19vw 1.19vw 0 1.19vw;
  color: black;
  width: 100%;
  text-align: center;
  margin-bottom: 1.19vw;
}

.footer_about {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.19vw;
  color: white;
  width: 100vw;
  background-color: black;
  text-align: center;
}

@media(max-width:450px) {
  #logo {
    width: 10vw;
  }
  h1{
    font-size: 4vw;
  }
  h4{
    font-size: 3.6vw;
  }
  .tablink{
    font-size: 3.5vw;
  }
  .menu{
    width: 50vw;
  }
  .header{
    flex-direction: column;
  }
  #menu_title {
    font-size: 4vw;
  }
  .about_title {
    font-size: 4vw;
    width: 90%;
  }
  .menu_grid{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .grid_item {
    width: 50%;
  }
  .name {
    font-weight: 700;
    font-size: 2.5vw;
  }
  .addition{
    font-size: 2.3vw;
  }
  .price {
    font-weight: 500;
    font-size: 3vw;
  }
  p {
    margin: 5px;
  }
}
